/* Import scoped CSS rules for components */
@import "./components.css";

/* This file is for your main application CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Indie+Flower&family=Open+Sans:wght@500&display=swap');

/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
/* .select-btn {
  display: inline-block;
  padding: 3px 7px;
  font-weight: bold;
} */
    
#follow_btn {
  width: 20px;
  height: 20px;
  padding-right: 25px;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading{
  cursor: wait;
}

/* section {
  float: left;
  width: 200px;
  display: block; 
} */

.Correct {
  color: rgb(106, 228, 106);
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
  font-size: 2vw;
  text-align: center;
}

.Incorrect {
  color: rgb(225, 96, 64);
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
  font-size: 2vw;
  text-align: center;
}

.user-menu {
  color: white;
  text-align: right;
}

.user-menu li {
  display: inline;
  padding: 0px 4px;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(35, 168, 104, 0.4);
}

.hidden {
  opacity: 0;
}

/* input[type='radio'] {
  visibility: hidden;
} */

input:checked {
  border: red;
}

.phx-modal-content {
  background-color: #f3ecec;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}
.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

.mc-option {
  @apply flex flex-col md:flex-row md:max-w-xl rounded-lg bg-white shadow-lg
}

@keyframes fade-in-scale-keys{
  0% { scale: 0.95; opacity: 0; }
  100% { scale: 1.0; opacity: 1; }
}

@keyframes fade-out-scale-keys{
  0% { scale: 1.0; opacity: 1; }
  100% { scale: 0.95; opacity: 0; }
}

@keyframes fade-in-keys{
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out-keys{
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.anim_container {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  min-height: 20vh;
  overflow: hidden;
  border: 1px solid white;
  margin-top: 1%;
}

.anim_container h1 {
	font-size: 5rem;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
	color: #f8f5f5;
}

.pulse {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 30rem;
}
.pulse circle {
  fill: #7e3642;
  transform: scale(0);
  opacity: 0;
  transform-origin: 50% 50%;
  animation: pulse 4s cubic-bezier(0.5, 0.5, 0, 1);
  animation-iteration-count: 4;
}
.pulse circle:nth-child(2) {
  fill: #887fc6;
  animation: pulse 4s 1.5s cubic-bezier(0.5, 0.5, 0, 1);
  animation-iteration-count: 4;
}
.pulse circle:nth-child(3) {
  fill: #732d58;
  animation: pulse 4s 3s cubic-bezier(0.5, 0.5, 0, 1);
  animation-iteration-count: 4;
}

@keyframes pulse {
  25% {
    opacity: 0.4;
  }
  100% {
    transform: scale(1);
  }
}
